USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 24-10-2025 17:15:31 ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergies]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Allergen] [nvarchar](max) NOT NULL,
	[Reaction] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Allergies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorCode] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Specialization] [nvarchar](max) NOT NULL,
	[Qualification] [nvarchar](max) NOT NULL,
	[ExperienceYears] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[ZipCode] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DepartmentId] [int] NULL,
	[SlotId] [int] NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [nvarchar](max) NOT NULL,
	[PolicyNumber] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[PatientId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Insurance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalHistories]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Condition] [nvarchar](max) NOT NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Treatment] [nvarchar](max) NULL,
	[Medications] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[RecordDate] [datetime2](7) NOT NULL,
	[AttendingPhysician] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MedicalHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientCode] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ContactNumber] [nvarchar](max) NOT NULL,
	[AlternateContactNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[BloodGroup] [nvarchar](max) NULL,
	[EmergencyContactName] [nvarchar](max) NULL,
	[EmergencyContactNumber] [nvarchar](max) NULL,
	[RelationshipWithEmergencyContact] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientVisits]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVisits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VisitType] [nvarchar](max) NOT NULL,
	[VisitDate] [datetime2](7) NOT NULL,
	[DoctorId] [int] NULL,
	[DoctorName] [nvarchar](max) NULL,
	[AdmissionDate] [datetime2](7) NULL,
	[DischargeDate] [datetime2](7) NULL,
	[RoomNumber] [nvarchar](max) NULL,
	[TreatmentDetails] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientVisits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slots]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportingTime] [time](7) NOT NULL,
	[LeavingTime] [time](7) NOT NULL,
	[DaysOfWeek] [int] NOT NULL,
 CONSTRAINT [PK_Slots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[ContactNumber] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Allergies_PatientId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Allergies_PatientId] ON [dbo].[Allergies]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_DoctorId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_DepartmentId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_DepartmentId] ON [dbo].[Doctors]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_SlotId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_SlotId] ON [dbo].[Doctors]
(
	[SlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Insurance_PatientId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_Insurance_PatientId] ON [dbo].[Insurance]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalHistories_PatientId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_MedicalHistories_PatientId] ON [dbo].[MedicalHistories]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientVisits_PatientId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_PatientVisits_PatientId] ON [dbo].[PatientVisits]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 24-10-2025 17:15:31 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 24-10-2025 17:15:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 24-10-2025 17:15:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Allergies]  WITH CHECK ADD  CONSTRAINT [FK_Allergies_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allergies] CHECK CONSTRAINT [FK_Allergies_Patients_PatientId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients_PatientId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Slots_SlotId] FOREIGN KEY([SlotId])
REFERENCES [dbo].[Slots] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Slots_SlotId]
GO
ALTER TABLE [dbo].[Insurance]  WITH CHECK ADD  CONSTRAINT [FK_Insurance_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Insurance] CHECK CONSTRAINT [FK_Insurance_Patients_PatientId]
GO
ALTER TABLE [dbo].[MedicalHistories]  WITH CHECK ADD  CONSTRAINT [FK_MedicalHistories_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalHistories] CHECK CONSTRAINT [FK_MedicalHistories_Patients_PatientId]
GO
ALTER TABLE [dbo].[PatientVisits]  WITH CHECK ADD  CONSTRAINT [FK_PatientVisits_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientVisits] CHECK CONSTRAINT [FK_PatientVisits_Patients_PatientId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddAllergy]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddAllergy]
    @PatientId INT,
    @Allergen NVARCHAR(255),
    @Reaction NVARCHAR(255),
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Allergies (PatientId, Allergen, Reaction, Notes, CreatedAt, IsActive)
    VALUES (@PatientId, @Allergen, @Reaction, @Notes, GETUTCDATE(), 1);

    SELECT SCOPE_IDENTITY() AS NewAllergyId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddAppointment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddAppointment]
    @PatientId INT,
    @DoctorId INT,
    @AppointmentDate DATETIME,
    @Status NVARCHAR(50),
    @Remarks NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Appointments (PatientId, DoctorId, AppointmentDate, Status, Remarks, CreatedAt)
    VALUES (@PatientId, @DoctorId, @AppointmentDate, @Status, @Remarks, GETUTCDATE());

    -- Return the newly created appointment Id
    SELECT SCOPE_IDENTITY() AS NewAppointmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDepartment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SQL Server: sp_AddDepartment
CREATE PROCEDURE [dbo].[sp_AddDepartment]
    @Name NVARCHAR(100),
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;  -- important to return @@ROWCOUNT if needed

    INSERT INTO Departments (Name, Description)
    VALUES (@Name, @Description);

    -- Return number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDoctor]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddDoctor]
    @DoctorCode NVARCHAR(20) = NULL,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Gender NVARCHAR(10),
    @DateOfBirth DATE,
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @Specialization NVARCHAR(50),
    @Qualification NVARCHAR(50),
    @ExperienceYears INT,
    @Address NVARCHAR(200),
    @City NVARCHAR(50),
    @State NVARCHAR(50),
    @ZipCode NVARCHAR(20),
    @IsActive BIT,
    @SlotId INT,
    @DepartmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Generate DoctorCode if not provided
    IF @DoctorCode IS NULL OR LTRIM(RTRIM(@DoctorCode)) = ''
    BEGIN
        DECLARE @MaxId INT;
        SELECT @MaxId = ISNULL(MAX(Id), 0) FROM dbo.Doctors;
        SET @DoctorCode = 'DOC' + RIGHT('000' + CAST(@MaxId + 1 AS NVARCHAR(10)), 3);
    END

    INSERT INTO dbo.Doctors
    (
        DoctorCode,
        FirstName,
        LastName,
        Gender,
        DateOfBirth,
        Email,
        PhoneNumber,
        Specialization,
        Qualification,
        ExperienceYears,
        Address,
        City,
        State,
        ZipCode,
        IsActive,
        SlotId,
        DepartmentId,
        CreatedAt
    )
    VALUES
    (
        @DoctorCode,
        @FirstName,
        @LastName,
        @Gender,
        @DateOfBirth,
        @Email,
        @PhoneNumber,
        @Specialization,
        @Qualification,
        @ExperienceYears,
        @Address,
        @City,
        @State,
        @ZipCode,
        @IsActive,
        @SlotId,
        @DepartmentId,
        GETUTCDATE()
    );

    SELECT SCOPE_IDENTITY() AS NewDoctorId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddInsurance]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure again
CREATE PROCEDURE [dbo].[sp_AddInsurance]
    @PatientId INT,
    @ProviderName NVARCHAR(100),
    @PolicyNumber NVARCHAR(50),
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Insurance (PatientId, ProviderName, PolicyNumber, StartDate, EndDate, CreatedAt, UpdatedAt)
    VALUES (@PatientId, @ProviderName, @PolicyNumber, @StartDate, @EndDate, GETUTCDATE(), GETUTCDATE());

    -- Return the inserted Id
    SELECT SCOPE_IDENTITY() AS InsuranceId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMedicalHistory]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        Your Name
-- Create date:   2025-10-16
-- Description:   Inserts a new medical history record for a patient
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddMedicalHistory]
    @PatientId INT,
    @Condition NVARCHAR(255),
    @Diagnosis NVARCHAR(255) = NULL,
    @Treatment NVARCHAR(500) = NULL,
    @Medications NVARCHAR(500) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    @RecordDate DATETIME,
    @AttendingPhysician NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO MedicalHistories
    (
        PatientId,
        Condition,
        Diagnosis,
        Treatment,
        Medications,
        Notes,
        RecordDate,
        AttendingPhysician,
        CreatedAt
    )
    VALUES
    (
        @PatientId,
        @Condition,
        @Diagnosis,
        @Treatment,
        @Medications,
        @Notes,
        @RecordDate,
        @AttendingPhysician,
        GETUTCDATE()
    );

    -- Return the newly inserted record ID
    SELECT SCOPE_IDENTITY() AS NewMedicalHistoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPatientVisit]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddPatientVisit]
    @PatientId INT,
    @VisitType NVARCHAR(50),
    @VisitDate DATETIME,
    @DoctorId INT = NULL,
    @DoctorName NVARCHAR(100) = NULL,
    @AdmissionDate DATETIME = NULL,
    @DischargeDate DATETIME = NULL,
    @RoomNumber NVARCHAR(50) = NULL,
    @TreatmentDetails NVARCHAR(MAX) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PatientVisits
    (
        PatientId,
        VisitType,
        VisitDate,
        DoctorId,
        DoctorName,
        AdmissionDate,
        DischargeDate,
        RoomNumber,
        TreatmentDetails,
        Notes,
        CreatedAt,
        IsActive
    )
    VALUES
    (
        @PatientId,
        @VisitType,
        @VisitDate,
        @DoctorId,
        @DoctorName,
        @AdmissionDate,
        @DischargeDate,
        @RoomNumber,
        @TreatmentDetails,
        @Notes,
        GETUTCDATE(),
        1
    );

    -- Return the newly inserted Visit ID
    SELECT SCOPE_IDENTITY() AS NewVisitId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSlot]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddSlot]
    @ReportingTime TIME,
    @LeavingTime TIME,
    @DaysOfWeek INT
    -- Optional: @DoctorId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Slots
    (
        ReportingTime,
        LeavingTime,
        DaysOfWeek
        -- DoctorId
    )
    VALUES
    (
        @ReportingTime,
        @LeavingTime,
        @DaysOfWeek
        -- @DoctorId
    );

    -- Return the ID of the newly inserted slot
    SELECT SCOPE_IDENTITY() AS NewSlotId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePatient]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. Insert new patient
CREATE PROCEDURE [dbo].[sp_CreatePatient]
    @PatientCode NVARCHAR(20),
    @FullName NVARCHAR(100),
    @Gender NVARCHAR(10),
    @DateOfBirth DATETIME,
    @Email NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @AlternateContactNumber NVARCHAR(20) = NULL,
    @Address NVARCHAR(250),
    @City NVARCHAR(50) = NULL,
    @State NVARCHAR(50) = NULL,
    @ZipCode NVARCHAR(20) = NULL,
    @BloodGroup NVARCHAR(10) = NULL,
    @EmergencyContactName NVARCHAR(100) = NULL,
    @EmergencyContactNumber NVARCHAR(20) = NULL,
    @RelationshipWithEmergencyContact NVARCHAR(50) = NULL,
    @CreatedAt DATETIME,
    @IsActive BIT
AS
BEGIN
    INSERT INTO Patients
    (PatientCode, FullName, Gender, DateOfBirth, Email, ContactNumber, AlternateContactNumber, Address, City, State, ZipCode, BloodGroup, EmergencyContactName, EmergencyContactNumber, RelationshipWithEmergencyContact, CreatedAt, IsActive)
    VALUES
    (@PatientCode, @FullName, @Gender, @DateOfBirth, @Email, @ContactNumber, @AlternateContactNumber, @Address, @City, @State, @ZipCode, @BloodGroup, @EmergencyContactName, @EmergencyContactNumber, @RelationshipWithEmergencyContact, @CreatedAt, @IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAllergy]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteAllergy]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @rows INT;

    DELETE FROM dbo.Allergies
    WHERE Id = @Id
      AND IsActive = 1;

    SET @rows = @@ROWCOUNT;

    SELECT @rows AS RowsAffected;  -- Now SP returns a result set
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAppointment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteAppointment]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Appointments
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDepartment]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete the department by Id
    DELETE FROM Departments
    WHERE Id = @Id;

    -- Return the number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDoctor]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteDoctor]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Doctors
    WHERE Id = @Id;

    -- Return number of rows affected
    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMedicalHistory]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteMedicalHistory]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM dbo.MedicalHistories
    WHERE Id = @Id;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePatient]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Delete patient (soft delete)
CREATE PROCEDURE [dbo].[sp_DeletePatient]
    @Id INT
AS
BEGIN
    UPDATE Patients SET IsActive=0, UpdatedAt=GETUTCDATE()
    WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePatientVisit]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePatientVisit]
    @Id INT
AS
BEGIN
    DELETE FROM PatientVisits
    WHERE Id = @Id;

    -- Return number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSlot]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSlot]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Slots
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected;  -- Returns number of rows deleted
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GeneratePatientCode]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Generate new patient code
CREATE PROCEDURE [dbo].[sp_GeneratePatientCode]
AS
BEGIN
    DECLARE @MaxId INT
    SELECT @MaxId = ISNULL(MAX(Id),0) FROM Patients
    SELECT 'PAT-' + RIGHT('00000' + CAST(@MaxId + 1 AS VARCHAR(5)),5) AS PatientCode
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAppointments]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllAppointments]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.Id,
        a.PatientId,
        p.PatientCode,
        p.FullName AS PatientFullName,
        a.DoctorId,
        d.DoctorCode,
        (d.FirstName + ' ' + d.LastName) AS DoctorFullName,
        a.AppointmentDate,
        a.Status,
        a.Remarks,
        a.CreatedAt,
        a.UpdatedAt
    FROM dbo.Appointments AS a
    INNER JOIN dbo.Patients AS p ON a.PatientId = p.Id
    INNER JOIN dbo.Doctors AS d ON a.DoctorId = d.Id
    ORDER BY a.AppointmentDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDepartments]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SQL Server: sp_GetAllDepartments
CREATE PROCEDURE [dbo].[sp_GetAllDepartments]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Name,
        Description
    FROM Departments
    ORDER BY Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPatients]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Get all active patients
CREATE PROCEDURE [dbo].[sp_GetAllPatients]
AS
BEGIN
    SELECT * FROM Patients
    WHERE IsActive = 1
    ORDER BY CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSlots]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSlots]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        ReportingTime,
        LeavingTime,
        DaysOfWeek
        -- Optional: DoctorId, DoctorName
    FROM Slots
    ORDER BY Id DESC; -- or any ordering you want
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoctors]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create new stored procedure with DayOfWeek included
CREATE PROCEDURE [dbo].[sp_GetDoctors]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.Id,
        d.DoctorCode,
        (d.FirstName + ' ' + d.LastName) AS FullName,
        d.Gender,
        d.DateOfBirth,
        d.Email,
        d.PhoneNumber,
        d.Specialization,
        d.Qualification,
        d.ExperienceYears,
        d.City,
        d.IsActive,
        d.SlotId,
        d.DepartmentId,
        -- Include SlotName as before
        CONVERT(VARCHAR(5), s.ReportingTime, 108) + ' - ' + CONVERT(VARCHAR(5), s.LeavingTime, 108) AS SlotName,
        s.DaysOfWeek,  -- <-- new field for the day
        dep.Name AS DepartmentName
    FROM dbo.Doctors d
    LEFT JOIN dbo.Slots s ON d.SlotId = s.Id
    LEFT JOIN dbo.Departments dep ON d.DepartmentId = dep.Id
    WHERE d.IsActive = 1
    ORDER BY d.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInsurancesByPatient]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetInsurancesByPatient]
    @PatientId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, ProviderName, PolicyNumber, StartDate, EndDate, PatientId, CreatedAt, UpdatedAt
    FROM Insurance
    WHERE PatientId = @PatientId
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientAllergies]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetPatientAllergies]
    @PatientId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        PatientId,
        Allergen,
        Reaction,
        Notes,
        CreatedAt,
        IsActive
    FROM dbo.Allergies
    WHERE PatientId = @PatientId
      AND IsActive = 1 -- Optional: only active allergies
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientById]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get patient by Id
CREATE PROCEDURE [dbo].[sp_GetPatientById]
    @Id INT
AS
BEGIN
    SELECT * FROM Patients
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientMedicalHistory]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create procedure
CREATE PROCEDURE [dbo].[sp_GetPatientMedicalHistory]
    @PatientId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Condition,
        Diagnosis,
        Treatment,
        Medications,
        Notes,
        RecordDate,
        AttendingPhysician,
        CreatedAt,
        UpdatedAt
    FROM dbo.MedicalHistories
    WHERE PatientId = @PatientId
    ORDER BY RecordDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientVisits]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPatientVisits]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        pv.Id,
        pv.PatientId,
        p.FullName AS PatientName,
        pv.VisitType,
        pv.VisitDate,
        pv.DoctorId,
        pv.DoctorName,
        pv.AdmissionDate,
        pv.DischargeDate,
        pv.RoomNumber,
        pv.TreatmentDetails,
        pv.Notes,
        pv.CreatedAt,
        pv.UpdatedAt,
        pv.IsActive
    FROM PatientVisits pv
    INNER JOIN Patients p ON pv.PatientId = p.Id
    WHERE pv.IsActive = 1
    ORDER BY pv.VisitDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserWithRolesByUsernameOrEmail]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserWithRolesByUsernameOrEmail]
    @UsernameOrEmail NVARCHAR(100)
AS
BEGIN
    SELECT u.Id AS UserId, u.Username, u.Email, u.FullName, u.PasswordHash, r.Name AS RoleName
    FROM Users u
    LEFT JOIN UserRoles ur ON ur.UserId = u.Id
    LEFT JOIN Roles r ON r.Id = ur.RoleId
    WHERE u.Username = @UsernameOrEmail OR u.Email = @UsernameOrEmail
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RescheduleAppointment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RescheduleAppointment]
    @Id INT,
    @DoctorId INT,
    @AppointmentDate DATETIME,
    @Remarks NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Appointments
    SET
        DoctorId = @DoctorId,
        AppointmentDate = @AppointmentDate,
        Remarks = @Remarks,
        UpdatedAt = GETDATE()
    WHERE Id = @Id;

    -- Return number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAllergy]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAllergy]
    @Id INT,                 -- Allergy Id to update
    @PatientId INT,
    @Allergen NVARCHAR(250),
    @Reaction NVARCHAR(250),
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Update only active records
    UPDATE dbo.Allergies
    SET
        PatientId = @PatientId,
        Allergen = @Allergen,
        Reaction = @Reaction,
        Notes = @Notes,
        UpdatedAt = SYSUTCDATETIME()
    WHERE Id = @Id
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartment]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDepartment]
    @Id INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    -- Keep NOCOUNT ON by default (don’t turn it off)
    UPDATE Departments
    SET 
        Name = @Name,
        Description = @Description
    WHERE Id = @Id;

    RETURN @@ROWCOUNT; -- Returns number of rows affected
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoctor]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDoctor]
    @Id INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Gender NVARCHAR(20),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @Specialization NVARCHAR(100),
    @Qualification NVARCHAR(100),
    @ExperienceYears INT,
    @City NVARCHAR(100),
    @SlotId INT,
    @DepartmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Doctors
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        Gender = @Gender,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        Specialization = @Specialization,
        Qualification = @Qualification,
        ExperienceYears = @ExperienceYears,
        City = @City,
        SlotId = @SlotId,
        DepartmentId = @DepartmentId,
        UpdatedAt = GETUTCDATE()
    WHERE Id = @Id;

    -- Return number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInsurance]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recreate the procedure
CREATE PROCEDURE [dbo].[sp_UpdateInsurance]
    @Id INT,
    @ProviderName NVARCHAR(100),
    @PolicyNumber NVARCHAR(50),
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    -- Remove SET NOCOUNT ON to allow rows affected to be returned
    DECLARE @RowsAffected INT;

    UPDATE Insurance
    SET 
        ProviderName = @ProviderName,
        PolicyNumber = @PolicyNumber,
        StartDate = @StartDate,
        EndDate = @EndDate,
        UpdatedAt = GETDATE()
    WHERE Id = @Id;

    -- Capture rows affected
    SET @RowsAffected = @@ROWCOUNT;

    -- Return rows affected
    SELECT @RowsAffected AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMedicalHistory]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateMedicalHistory]
    @Id INT,
    @Condition NVARCHAR(255),
    @Diagnosis NVARCHAR(255) = NULL,
    @Treatment NVARCHAR(255) = NULL,
    @Medications NVARCHAR(255) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    @RecordDate DATETIME,
    @AttendingPhysician NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.MedicalHistories
    SET
        [Condition] = @Condition,          -- Reserved word wrapped in brackets
        Diagnosis = @Diagnosis,
        Treatment = @Treatment,
        Medications = @Medications,
        Notes = @Notes,
        RecordDate = @RecordDate,
        AttendingPhysician = @AttendingPhysician,
        UpdatedAt = GETUTCDATE()
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePatient]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePatient]
    @Id INT,
    @FullName NVARCHAR(100),
    @Gender NVARCHAR(10),
    @DateOfBirth DATETIME,
    @Email NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @AlternateContactNumber NVARCHAR(20) = NULL,
    @Address NVARCHAR(250),
    @City NVARCHAR(50) = NULL,
    @State NVARCHAR(50) = NULL,
    @ZipCode NVARCHAR(20) = NULL,
    @BloodGroup NVARCHAR(10) = NULL,
    @EmergencyContactName NVARCHAR(100) = NULL,
    @EmergencyContactNumber NVARCHAR(20) = NULL,
    @RelationshipWithEmergencyContact NVARCHAR(50) = NULL,
    @UpdatedAt DATETIME
AS
BEGIN
    UPDATE Patients SET
        FullName=@FullName,
        Gender=@Gender,
        DateOfBirth=@DateOfBirth,
        Email=@Email,
        ContactNumber=@ContactNumber,
        AlternateContactNumber=@AlternateContactNumber,
        Address=@Address,
        City=@City,
        State=@State,
        ZipCode=@ZipCode,
        BloodGroup=@BloodGroup,
        EmergencyContactName=@EmergencyContactName,
        EmergencyContactNumber=@EmergencyContactNumber,
        RelationshipWithEmergencyContact=@RelationshipWithEmergencyContact,
        UpdatedAt=@UpdatedAt
    WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePatientVisit]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpdatePatientVisit]
    @Id INT,
    @PatientId INT,
    @VisitType NVARCHAR(50),
    @VisitDate DATE,
    @DoctorId INT = NULL,
    @DoctorName NVARCHAR(100) = NULL,
    @AdmissionDate DATE = NULL,
    @DischargeDate DATE = NULL,
    @RoomNumber NVARCHAR(50) = NULL,
    @TreatmentDetails NVARCHAR(MAX) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    @UpdatedAt DATETIME -- added parameter
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PatientVisits
    SET 
        PatientId = @PatientId,
        VisitType = @VisitType,
        VisitDate = @VisitDate,
        DoctorId = @DoctorId,
        DoctorName = @DoctorName,
        AdmissionDate = @AdmissionDate,
        DischargeDate = @DischargeDate,
        RoomNumber = @RoomNumber,
        TreatmentDetails = @TreatmentDetails,
        Notes = @Notes,
        UpdatedAt = @UpdatedAt -- use the value from DTO
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSlot]    Script Date: 24-10-2025 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSlot]
    @Id INT,
    @ReportingTime TIME,
    @LeavingTime TIME,
    @DaysOfWeek INT
    -- Optional: @DoctorId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Slots
    SET
        ReportingTime = @ReportingTime,
        LeavingTime = @LeavingTime,
        DaysOfWeek = @DaysOfWeek
        -- DoctorId = @DoctorId
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected; -- returns number of rows updated
END
GO
USE [master]
GO
