<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @await RenderSectionAsync("adminTitle", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    @await RenderSectionAsync("adminCssBefore", false)
    <!-- App css -->
    <link href="~/css/config/modern/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="~/css/config/modern/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="~/css/config/modern/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
    <link href="~/css/config/modern/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- icons -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/js/ag-grid-enterprise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
</head>

<!-- body start -->
<body class="loading" data-layout-mode="detached" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": true}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        @await Html.PartialAsync("~/Views/Shared/Partials/UBoldAdmin/_topbar.cshtml")

        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("~/Views/Shared/Partials/UBoldAdmin/_leftMenu.cshtml")
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- end page title -->

                </div> <!-- container -->

            </div> <!-- content -->
            <!-- Footer Start -->
            @await Html.PartialAsync("~/Views/Shared/Partials/UBoldAdmin/_footer.cshtml")
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/Partials/UBoldAdmin/_rightSideBar.cshtml")
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor js -->
    <script src="~/js/base/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/js/base/app.min.js"></script>

    <script src="~/js/common/ajaxCaller.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("scriptsAfter", required: false)
    @await RenderSectionAsync("scripts", required: false)

    <script>
        function changeLocale(selectedLocale) {
            $("#culture").val(selectedLocale);
            $("#selectLanguage").submit();
        }
    </script>
</body>
</html>
